<% provide(:body_class, "top tangent") %>
<% if notice %><p id="notice"><%= notice %></p><% end %>

<article class="tagmain"> 
  <header>
    <div class="goldtainer">
      <h1 class="title"><%= @tangent.name %></h1>
      <% unless @tangent.description.blank? %>
      <aside class="meta">
        <div class="content">
          <%= markdown @tangent.description  %>
        </div>
      </aside>
      <% end %>
    </div>
    <% if signed_in? %>
      <p class="meta">
        <%= link_to 'Edit', edit_feed_path(@tangent) %> | <%= link_to 'Back', feeds_path %> | <%= link_to 'Destroy', @tangent, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </header>
</article>


  <% pics = [] %>
  <% for item in @tangent.list %>
    <% if item.type == :photo %>
      <% pics.push(item) %>
    <% end %>
    <% if item.type == :post && item.published? %>
      <% if pics.length > 0 %> 
        <div class="entry">
          <div class="goldtainer">
        <% until pics.empty? %>
          <% if pics.length == 1 %> 
            <section class="gallery clear" >
              <% pic = pics.pop %>
              <article class="pic" <% if pic.image %> style="background-image: url(<%= pic.image_url(:thumb) %>);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if signed_in? %>
                <p class="meta">
                  <%= link_to 'Edit', edit_photo_path(pic) %> | <%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
                <% end %>
              </article>
            </section>
          <% else %>

          <% j = pics.length %>
          <% a = 3 %>
          <% if j % 2 == 0 then a = 2 end %>
          <% if j % 3 == 0 then a = 3 end %>
            <section class="gallery<%= a %> clear">
              <% for pic in pics.pop(a) %>
              <article class="pic" <% if pic.image %> style="background-image: url(<%= pic.image_url(:thumb) %>);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if signed_in? %>
                <p class="meta">
                  <%= link_to 'Edit', edit_photo_path(pic) %> | <%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
                <% end %>
              </article>
              <% end %>
            </section>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    <div class="entry">
      <div class="goldtainer">
        <div class="top"></div>
        <article class="post main">
          <% if signed_in? %>
            <p class="meta">
              <%= link_to 'Edit', edit_post_path(item) %> | <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          <% end %>
          <div class="content">
            <%= markdown item.content %>
          </div>
        </article>
        <div class="bottom"></div>
        <% end %>
      </div>
    </div>
  <% end %> 

      <% if pics.length > 0 %> 
        <div class="entry">
          <div class="goldtainer">
        <% until pics.empty? %>
          <% if pics.length == 1 %> 
            <section class="gallery clear" >
              <% pic = pics.pop %>
              <article class="pic" <% if pic.image %> style="background-image: url(<%= pic.image_url(:thumb) %>);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if signed_in? %>
                <p class="meta">
                  <%= link_to 'Edit', edit_photo_path(pic) %> | <%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
                <% end %>
              </article>
            </section>
          <% else %>

          <% j = pics.length %>
          <% a = 3 %>
          <% if j % 2 == 0 then a = 2 end %>
          <% if j % 3 == 0 then a = 3 end %>
            <section class="gallery<%= a %> clear">
              <% for pic in pics.pop(a) %>
              <article class="pic" <% if pic.image %> style="background-image: url(<%= pic.image_url(:thumb) %>);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if signed_in? %>
                <p class="meta">
                  <%= link_to 'Edit', edit_photo_path(pic) %> | <%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
                <% end %>
              </article>
              <% end %>
            </section>
            <% end %>

        <% end %>
          </div>
        </div>
  <% end %>

<% if Rails.env.production? %>
  <%= javascript_tag do %>
    mixpanel.track('Viewed <%= @tangent.name %>');
  <% end %>
<% end %>