<% provide(:body_class, "top tangent") %>
<% provide(:title, @tangent.name) %>
<% standard %>
<% if notice %><p id="notice"><%= notice %></p><% end %>

<article class="tagmain"> 
  <header>
    <div class="goldtainer">
      <h1 class="tangenttitle"><%= @tangent.name %></h1>
      <% unless @tangent.description.blank? %>
      <aside class="meta">
        <div class="content">
          <%= markdown @tangent.description  %>
        </div>
      </aside>
      <% end %>
    </div>
    <% if signed_in? %>
      <p class="meta">
        <%= link_to 'Edit', edit_tangent_path(@tangent) %> | <%= link_to 'Back', tangents_path %> | <%= link_to 'Destroy', @tangent, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </header>
</article>


  <% pics = [] %>
  <% for item in @tangent.list %>
    <% if item.type == :photo %>
      <% pics.push(item) %>
    <% else %>
      <%= render 'pics', :pics => pics %>
      <% if item.type == :post && item.published? %>
          <article class="post main">
            <div class="goldtainer">
              <% if signed_in? %>
                <ul class="meta">
                  <li><%= link_to 'Edit', edit_post_path(item) %></li>
                  <li><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              <% end %>
              <div class="content">
                <%= markdown item.content %>
              </div>
            </div>
          </article>
      <% end %>
      <% if item.type == :point && item.published? %>
      <div class="goldtainer">
        <article class="point clear">
          <div class="image" >
            <h4 class="lazy"<% if item.image %> data-original="<%= item.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>>
              <%= link_to item.updated_at.strftime("%b<br />%d").html_safe, item %>
            </h4>
          </div>
          <div class="summary">
            <h2><%= link_to item.name, item %></h2>
            <%= markdown item.tldr %>
            <%= link_to "Read More", item %>
          </div>
        </article>
      </div>
      <% end %>
    <% end %>
  <% end %> 
  <%= render 'pics', :pics => pics %>

<% if Rails.env.production? %>
  <%= javascript_tag do %>
    mixpanel.track('Viewed <%= @tangent.name %>');
  <% end %>
<% end %>