<% provide(:body_class, "top tangent") %>
<% provide(:title, @tangent.name) %>
<% if notice %><p id="notice"><%= notice %></p><% end %>

<article class="tagmain"> 
  <header>
    <div class="goldtainer">
      <h1 class="title"><%= @tangent.name %></h1>
      <% unless @tangent.description.blank? %>
      <aside class="meta">
        <div class="content">
          <%= markdown @tangent.description  %>
        </div>
      </aside>
      <% end %>
    </div>
    <% if signed_in? %>
      <p class="meta">
        <%= link_to 'Edit', edit_tangent_path(@tangent) %> | <%= link_to 'Back', tangents_path %> | <%= link_to 'Destroy', @tangent, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </header>
</article>


  <% pics = [] %>
  <% for item in @tangent.list %>
    <% if item.type == :photo %>
      <% pics.push(item) %>
    <% end %>
    <% if item.type == :post && item.published? %>
      <% if pics.length > 0 %> 
        <% until pics.empty? %>
          <% if pics.length == 1 %> 
            <section class="goldtainer gallery clear" >
              <% pic = pics.shift %>
              <article class="pic lazy" <% if pic.image %> data-original="<%= pic.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if signed_in? %>
                <ul class="meta">
                  <li><%= link_to 'Edit', edit_photo_path(pic) %></li>
                  <li><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
                <% end %>
              </article>
            </section>
          <% else %>

          <% j = pics.length %>
          <% a = 3 %>
          <% if j % 2 == 0 then a = 2 end %>
          <% if j % 3 == 0 then a = 3 end %>
            <section class="goldtainer gallery<%= a %> clear">
              <% for pic in pics.pop(a) %>
              <article class="pic lazy" <% if pic.image %> data-original="<%= pic.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if signed_in? %>
                <ul class="meta">
                  <li><%= link_to 'Edit', edit_photo_path(pic) %></li>
                  <li><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
                <% end %>
              </article>
              <% end %>
            </section>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
        <article class="post main">
          <div class="goldtainer">
            <% if signed_in? %>
              <ul class="meta">
                <li><%= link_to 'Edit', edit_post_path(item) %></li>
                <li><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            <% end %>
            <div class="content">
              <%= markdown item.content %>
            </div>
          </div>
        </article>
        <% end %>
  <% end %> 

      <% if pics.length > 0 %> 
        <% until pics.empty? %>
          <% if pics.length == 1 %> 
            <section class="goldtainer gallery clear" >
              <% pic = pics.pop %>
              <article class="pic lazy" <% if pic.image %> data-original="<%= pic.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if signed_in? %>
                <ul class="meta">
                  <li><%= link_to 'Edit', edit_photo_path(pic) %></li>
                  <li><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
                <% end %>
              </article>
            </section>
          <% else %>

          <% j = pics.length %>
          <% a = 3 %>
          <% if j % 2 == 0 then a = 2 end %>
          <% if j % 3 == 0 then a = 3 end %>
            <section class="goldtainer gallery<%= a %> clear">
              <% for pic in pics.pop(a) %>
              <article class="pic lazy" <% if pic.image %> data-original="<%= pic.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>>
                <a href="<%= photo_path(pic) %>">
                  <h2><%= pic.name %></h2>
                </a>
                <% if 1==2 %>
                <ul class="meta">
                  <li><%= link_to 'Edit', edit_photo_path(pic) %></li>
                  <li><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
                <% end %>
              </article>
              <% end %>
            </section>
            <% end %>

        <% end %>
  <% end %>

<% if Rails.env.production? %>
  <%= javascript_tag do %>
    mixpanel.track('Viewed <%= @tangent.name %>');
  <% end %>
<% end %>