<% provide(:title, @point.name) %>
<% meta(@point) %>
<section class="pointtop lazy"  <% if @point.image %> data-original="<%= @point.image_url %>" style="background-image: url(assets/blank.png);"<% end %>>
    
    <header>
      <h1><%= @point.name %></h1>
    </header>
    
    <% if signed_in? %>
      <ul class="meta">
        <li><%= link_to 'Edit', edit_point_path(@point) %></li>
        <li><%= link_to 'Destroy', @point, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
</section>
<div class="goldtainer">
  <% if notice %><p id="notice"><%= notice %></p><% end %>

  <section class="point"> 
    <header>
      <div class="circle">
        <h3><%= @point.updated_at.strftime("%b<br />%d").html_safe %></h3>
      </div>
      
    </header>
    <div class="content">
      <%= markdown @point.content %>
    </div>
  </section>
</div>

<% if Rails.env.production? %>
  <%= javascript_tag do %>
    mixpanel.track('<%= @point.name.html_safe %>');
  <% end %>
<% end %>