<% standard %>
<section class="top lazy" <% if @photo %> data-original="<%= @photo.image_url  %>" style="background-image: url(/assets/blank.png);"<% end %>>

  <div class="goldtainer">

    <div class="tagline">
      <h1>Hi, I'm Alex Rock</h1>

    </div>
  </div>

      <h3 class="sayhi"><a href="mailto:hi@lxrck.com?subject=Good Morning">Say Hi</a></h3>

</section>

<% unless @points.blank? %>
<div class="goldtainer">
  <h1 class="feedtitle title">Points</h1>
  <%= link_to 'New Point', new_point_path unless !signed_in? %>

  <% @points.each do |point| %>
    <% if point.published? || signed_in? %>
    <article class="point clear">
      <div class="image" >
        <h4 class="lazy"<% if point.image %> data-original="<%= point.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>>
          <%= link_to point.updated_at.strftime("%b<br />%d").html_safe, point %>
        </h4>
      </div>
      <div class="summary">
        <h2><%= link_to point.name, point %></h2>
        <%= markdown point.tldr %>
        <%= link_to "Read More", point %>
      </div>
    </article>
    <% end %>
  <% end %>
</div>
<% end %>
<div class="goldtainer">
  <h1 class="feedtitle title">Tangents</h1>
</div>
<% pics = [] %>
  <% @tangents.each do |tangent| %>
    <% pics.push(tangent) %>
  <% end %>


      <% if pics.length == 1 %> 
        <section class="goldtainer gallery clear" >
          <% tangent = pics.shift %>
            <article class="tag lazy"<% if tangent.photo %> data-original="<%= tangent.photo.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>> 
              <header>
                <a href="<%= tangent_path(tangent) %>"> 
                  <div class="overlay"></div>
                  <h2><%= tangent.name %></h2>
                </a>
              </header>
            </article>
        <% else %>

        <% until pics.empty? %>


          <% j = pics.length %>
          <% a = 3 %>
          <% if j % 2 == 0 then a = 2 end %>
          <% if j % 3 == 0 then a = 3 end %>
         


          <section class="goldtainer gallery<%= a %> clear">

            <% for tangent in pics.pop(a) %>
              <article class="tag lazy"<% if tangent.photo %> data-original="<%= tangent.photo.image_url(:thumb) %>" style="background-image: url(/assets/blank.png);"<% end %>> 
              <header>
                <a href="<%= tangent_path(tangent) %>"> 
                  <div class="overlay"></div>
                  <h2><%= tangent.name %></h2>
                </a>
              </header>
              </article>
            <% end %>
          </section>
        <% end %>
  <% end %>
<% if Rails.env.production? %>
  <%= javascript_tag do %>
    mixpanel.track('Viewed Home Page');
  <% end %>
<% end %>