<!-- 
  <div class="video_container">
	<video class="home_video" autoplay="true" loop="loop" >   
		<source src="http://video.lxrck.com/reel.mp4" type="video/mp4" />        
		<source src="http://video.lxrck.com/reel.webm" type="video/webm" />
		<source src="http://video.lxrck.com/reel.ogv" type="video/ogg" />
	</video>
  </div> -->

<section class="recentpost"<% if @post.image %> style="background-image: url(<%= @post.image_url %>);"<% end %> >
  <a href="<%= post_path(@post) %>">
    <h1><%= @post.title %></h1>
    <label><h5>Newest Post</h5></label>
  </a>
    <% unless @post.tags.blank? %>
    <ul class="tags">
      <% for tag in @post.tags %>
        <li><%= link_to "<h5>#{tag.name}</h5>".html_safe, tag %></li>
      <% end %>
    </ul>
    <% end %>
    <% if signed_in? %>
      <ul class="meta">
        <li><%= link_to 'Edit', edit_post_path(@post) %></li>
        <li><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
</section>

<div class="goldtainer">
  <h3>Active Feeds</h3>
</div>
<div class="goldtainer feeds clear">
  <% @tags.each do |tag| %>
  
  <article class="tag"<% if tag.photo %> style="background-image: url(<%= tag.photo.image_url %>);"<% end %>> 
    <a href="<%= tag_path(tag) %>"> 
    <header>
      <div class="overlay"></div>
      <h2><%= tag.name %></h2>

      
      <aside>
        <% if tag.description %>
        <div class="content">
          <%= markdown tag.description  %>
        </div>
        <% end %>
      </aside>
      
      <% if signed_in? %>
        <p class="meta">
          <%= link_to 'Edit', edit_tag_path(tag) %> | <%= link_to 'Back', tags_path %> | <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    </header>
    </a>
  </article>
  <% end %>
</div>