<% if signed_in? %>
<div class="togger clear">
  <%= link_to 'New Feed', new_tag_path %>
</div>
<% end %>
<div class="goldtainer clear">
  <% @tags.each do |tag| %>
  
  <article class="tag"<% if tag.photo %> style="background-image: url(<%= tag.photo.image_url(:thumb) %>);"<% end %>> 
    <a href="<%= tag_path(tag) %>"> 
    <header>
      <% if tag.active? %>
      <label><h5>Active</h5></label>
      <% end %>
      <div class="overlay"></div>
      <h2><%= tag.name %></h2>
      <aside>
        <% unless tag.description.blank? %>
        <div class="content">
          <%= markdown tag.description  %>
        </div>
        <% end %>
      </aside>
      
      <% if signed_in? %>
        <p class="meta">
          <%= link_to 'Edit', edit_tag_path(tag) %> | <%= link_to 'Back', tags_path %> | <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    </header>
    </a>
  </article>
  <% end %>
</div>