<div class="goldtainer">
  <%= link_to 'New Tag', new_tag_path unless !signed_in? %>

  <% @tags.each do |tag| %>
  <article class="tag"> 
    <header>
      <h2><%= link_to tag.name, tag %></h2>
      <p><%= tag.updated_at.strftime("%B %d around %I:%M %p") %> </p>
      <% if tag.description %>
      <div class="content">
        <%= markdown tag.description  %>
      </div>
      <% end %>
      <% if signed_in? %>
      <aside class="meta">
        <p class="meta">
          <%= link_to 'Edit', edit_tag_path(tag) %> | <%= link_to 'Back', tags_path %> | <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </aside>
      <% end %>
    </header>
  </article>
  <% end %>
</div>