
  <p id="notice"><%= notice %></p>
  <article class="tagmain"> 

    <header>
      <div class="goldtainer">
        <h1><%= @tag.name %></h1>
        <aside class="meta">
          <% if @tag.description %>
          <div class="content">
            <%= markdown @tag.description  %>
          </div>
          <% end %>
        </aside>
      </div>
      <% if signed_in? %>
        <p class="meta">
          <%= link_to 'Edit', edit_tag_path(@tag) %> | <%= link_to 'Back', tags_path %> | <%= link_to 'Destroy', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    </header>
  </article>

<div class="goldtainer">
  <% for item in @tag.list.reverse %>
    <% if item.type == :photo %>
    <article class="photo">
      <%= image_tag item.image.url(:medium) %>
    </article>
    <% end %>
    <% if item.type == :post %>
    <article class="post"> 
      <header>
        <h2><%= link_to item.title, item %> </h2>
        <p><%= item.updated_at.strftime("%B %d around %I:%M %p") %> </p>
        <% if signed_in? %>
        <aside class="meta">
          <p class="meta">
            <%= link_to 'Edit', edit_post_path(item) %> 
          </p>
        </aside>
        <% end %>
      </header>

      <div class="content">
    	<%= markdown item.content %>
      </div>
    </article>
    <% end %>

  <% end %> 
</div>