<% if notice %><p id="notice"><%= notice %></p><% end %>
<article class="tagmain"> 

  <header>
    <div class="goldtainer">
      <h1 class="title"><%= @tag.name %></h1>
      <% unless @tag.description.blank? %>
      <aside class="meta">
        <div class="content">
          <%= markdown @tag.description  %>
        </div>
      </aside>
      <% end %>
    </div>
    <% if signed_in? %>
      <p class="meta">
        <%= link_to 'Edit', edit_tag_path(@tag) %> | <%= link_to 'Back', tags_path %> | <%= link_to 'Destroy', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </header>
</article>

<div class="goldtainer">
  <% for item in @tag.list %>
    <% if item.type == :photo %>
    <article class="photo">
        <header>
          <a href="<%= photo_path(item) %>"><div class="overlay"></div></a>
          <div class="float">
            <div class="inner">
              <h2><%= link_to item.name, item %></h2>
            </div>
          </div>
        </header> 
        <% if signed_in? %>
            <p class="meta">
              <%= link_to 'Edit', edit_photo_path(item) %> | <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          <% end %>
        <div class="content">
          <%= image_tag item.image_url(:medium) %>
        </div>
    </article>
    <% end %>
    <% if item.type == :post %>
    <article class="post">
      <header>
        <a href="<%= post_path(item) %>"><div class="overlay"></div></a>
        <div class="float">
          <div class="inner">
            <aside class="meta">
              <h2><%= link_to item.title, item %></h2>
            </aside>
          </div>
        </div>
        </a>
      </header> 
      <% if signed_in? %>
          <p class="meta">
            <%= link_to 'Edit', edit_post_path(item) %> | <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
      <div class="content">
        <%= image_tag item.image_url(:medium) %>
      </div>
    </article>
    <% end %>

  <% end %> 
</div>