<% if notice %><p id="notice"><%= notice %></p><% end %>
<div class="goldtainer">	
  <h2 class="title"><%= @photo.name %> </h2>
  <article class="photo">
    <header>
      <div class="overlay"></div>
      <div class="float">
        <div class="inner">
          <aside class="meta">
            <%= link_to "Download in High Resolution", @photo.image_url %>
          </aside>
        </div>
      </div>
    </header> 
    <% if signed_in? %>
        <p class="meta">
          <%= link_to 'Edit', edit_photo_path(@photo) %> | <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    <div class="content">
      <%= image_tag @photo.image_url(:medium) %>
    </div>
  </article>
  <% if signed_in? %>
  <p class="tags">
    Image URL: <%= @photo.image_url(:medium) %>
  </p>
  <% end %>

  <% if @photo.tags %>
  <p class="tags">
    <% for tag in @photo.tags %>
        <%= link_to tag.name, tag %>
    <% end %>
  </p>
  <% end %>
</div>