<section class="top post"<% if @post.image %> style="background-image: url(<%= @post.image_url %>);"<% end %> >
    <header>
      <h1><%= @post.title %></h1>
    </header>
    <% unless @post.tags.blank? %>
    <ul class="tags">
      <% for tag in @post.tags %>
        <li><%= link_to "<h5>#{tag.name}</h5>".html_safe, tag %></li>
      <% end %>
    </ul>
    <% end %>
    <% if signed_in? %>
      <ul class="meta">
        <li><%= link_to 'Edit', edit_post_path(@post) %></li>
        <li><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
</section>

<div class="goldtainer">
  <% if notice %><p id="notice"><%= notice %></p><% end %>

  <article class="post main"> 
    <div class="content">
      <%= markdown @post.content %>
    </div>
  </article>
</div>